asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
dj-database-url==0.5.0
Django==3.2.6
django-bootstrap4==3.0.1
django-crispy-forms==1.12.0
django-forms-bootstrap==3.1.0
django-storages==1.11.1
django-widget-tweaks==1.4.8
idna==3.3
Pillow==8.3.1
psycopg2==2.9.1
python-dateutil==1.5
pytz==2021.3
requests==2.26.0
soupsieve==2.3.1
sqlparse==0.4.1
urllib3==1.26.7
wfastcgi==3.0.0
