{% extends 'base2.html' %}
{% load static %}

    {% block content %}
        <div class="container">
          <!-- HERO SECTION-->
          <section class="py-5 bg-light">
            <div class="container">
              <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                  <h1 class="h2 text-uppercase mb-0">About</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                      <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </section>
        </div>
        <br><br><br>
        <h3 style="text-align:center; size:5mm; background-color: #b375dd; color:black"><p>“Super power-pac provides a safe luxury storage space </p>
          <p style="text-align:center; size:6mm; background-color: #9d68ce;">     at the confines of your homes and offices; </p>
          <p style="text-align:center; size:7mm; background-color: #a27ecc;">giving your jewelries,documents,wrappers,clothes,books </p>
          <p style="text-align:center; size:8mm; background-color: #bd91e5;">      and confidentials a fabulous arrangement. </p>
          <p style="text-align:center; size:9mm; background-color: #a776d4;">FOR MORE INFORMATION, KINDLY CONTACT US AT: phone no. :+2349024416036 or, </p>
          <p style="text-align:center; size:10mm; background-color: #ad88cf;">     REACH US THROUGH EMAIL AT: superpowerpac@gmail.com."
          </p></h3>
        <center>
          <div class="logo" >

            <img src="{% static 'img/FB_IMG_16178779706163313.jpg' %}" href="{% url 'store:home' %}" alt="Super POWER-PAC Logo" width="800" height="500">
          </div>  
        </center>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
    {% endblock content %}  