{% extends 'base2.html' %}
{% load static %}

    {% block content %}
        <div class="container">
          <!-- HERO SECTION-->
          <section class="py-5 bg-light">
            <div class="container">
              <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                  <h1 class="h2 text-uppercase mb-0">CONTACT</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                      <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </section>
        </div>
        <br><br><br>
        
          <center>
            <h3 class='alert alert-success'>Send Us Your Valuable MESSAGE !</h3>
        
            <form method="POST">
              <!-- Very Important csrf Token -->
              {% csrf_token %}
              <div class="form-group">
                <p>
                <h3>{{ form.as_p }}</h3>
                </p>
                <br>
                <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
              </div>
            </form>
          </center>
          <center>
            <div class="logo" >
  
              <img src="{% static 'img/FB_IMG_16178779706163313.jpg' %}" href="{% url 'store:home' %}" alt="Super POWER-PAC Logo" width="800" height="500">
            </div>  
          </center>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    {% endblock content %}  
      

</html>
